<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tela de Cadastro</h1>
    <form action="salvar" method="post">
        <br>
        <p>Nome Convidado</p>
        <br>
        <input type="text" name="nome" id="nome">
        <p>Quantidade de Acompanhante</p>
        <br>
        <input type="number" name="acompanhante" id="acompanhante">
        <br>
        <br>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>